@require '~normalize.css/normalize.css'
@require 'vars'

@require 'assets'
@require 'base'
@require 'big-scoreboard'
@require 'cards'
@require 'container'
@require 'filter'
@require 'header'
@require 'input'
@require 'map'
@require 'matches-list'
@require 'player-round-performance-graph'
@require 'career-scores'
@require 'round-graph'
@require 'series'
@require 'table'
@require 'team-round-performance-graph'
@require 'typography'
@require 'vertical-performance-graph'

body.route- {
	&loss-bonus-buys-m4a1,
	&loss-bonus-buys-m4a4,
	&loss-bonus-buys-wingman-m4a1,
	&loss-bonus-buys-wingman-m4a4 {
		@require 'pages/loss-bonus-buys'
	}

	&player,
	&team {
		@require 'pages/player'
	}

	&status {
		@require 'pages/status'
	}
}
