header {
	display flex
	align-items center
	justify-content space-between

	padding-right 4rem
	background #333

	a.logo {
		flsize(2rem, 1)
		display block
		padding 2rem 4rem

		text-decoration none
		font-weight 600
	}

	nav {
		ul {
			display flex
			align-items center
			justify-content flex-end

			list-style none
		}

		a {
			display block
			padding .5rem 1rem
		}
	}
}
