.map {
	display block

	background #333 center no-repeat
	background-size cover
	text-align center

	.inner {
		display flex
		flex-direction column
		justify-content center
		align-items center

		height 100%
		padding 1rem 2rem
		background rgba(#000, .65)
	}

	&.--hero {
		min-height 6.8rem
		margin 2rem 0
		box-shadow 0 0 .5rem rgba(#000, .25)
	}

	&.--ar_baggage {
		background-image url('../img/maps/screenshots/ar_baggage.jpg')
	}

	&.--ar_dizzy {
		background-image url('../img/maps/screenshots/ar_dizzy.jpg')
	}

	&.--ar_lunacy {
		background-image url('../img/maps/screenshots/ar_lunacy.jpg')
	}

	&.--ar_monastery {
		background-image url('../img/maps/screenshots/ar_monastery.jpg')
	}

	&.--ar_shoots {
		background-image url('../img/maps/screenshots/ar_shoots.jpg')
	}

	&.--coop_autumn {
		background-image url('../img/maps/screenshots/coop_autumn.jpg')
	}

	&.--coop_fall {
		background-image url('../img/maps/screenshots/coop_fall.jpg')
	}

	&.--coop_kasbah {
		background-image url('../img/maps/screenshots/coop_kasbah.jpg')
	}

	&.--cs_agency {
		background-image url('../img/maps/screenshots/cs_agency.jpg')
	}

	&.--cs_apollo {
		background-image url('../img/maps/screenshots/cs_apollo.jpg')
	}

	&.--cs_assault {
		background-image url('../img/maps/screenshots/cs_assault.jpg')
	}

	&.--cs_cruise {
		background-image url('../img/maps/screenshots/cs_cruise.jpg')
	}

	&.--cs_downtown {
		background-image url('../img/maps/screenshots/cs_downtown.jpg')
	}

	&.--cs_insertion {
		background-image url('../img/maps/screenshots/cs_insertion.jpg')
	}

	&.--cs_insertion2 {
		background-image url('../img/maps/screenshots/cs_insertion2.jpg')
	}

	&.--cs_italy {
		background-image url('../img/maps/screenshots/cs_italy.jpg')
	}

	&.--cs_militia {
		background-image url('../img/maps/screenshots/cs_militia.jpg')
	}

	&.--cs_motel {
		background-image url('../img/maps/screenshots/cs_motel.jpg')
	}

	&.--cs_museum {
		background-image url('../img/maps/screenshots/cs_museum.jpg')
	}

	&.--cs_office {
		background-image url('../img/maps/screenshots/cs_office.jpg')
	}

	&.--cs_rush {
		background-image url('../img/maps/screenshots/cs_rush.jpg')
	}

	&.--cs_seaside {
		background-image url('../img/maps/screenshots/cs_seaside.jpg')
	}

	&.--cs_thunder {
		background-image url('../img/maps/screenshots/cs_thunder.jpg')
	}

	&.--cs_workout {
		background-image url('../img/maps/screenshots/cs_workout.jpg')
	}

	&.--de_abbey {
		background-image url('../img/maps/screenshots/de_abbey.jpg')
	}

	&.--de_ali {
		background-image url('../img/maps/screenshots/de_ali.jpg')
	}

	&.--de_ancient {
		background-image url('../img/maps/screenshots/de_ancient.jpg')
	}

	&.--de_anubis {
		background-image url('../img/maps/screenshots/de_anubis.jpg')
	}

	&.--de_austria {
		background-image url('../img/maps/screenshots/de_austria.jpg')
	}

	&.--de_aztec {
		background-image url('../img/maps/screenshots/de_aztec.jpg')
	}

	&.--de_bank {
		background-image url('../img/maps/screenshots/de_bank.jpg')
	}

	&.--de_basalt {
		background-image url('../img/maps/screenshots/de_basalt.jpg')
	}

	&.--de_bazaar {
		background-image url('../img/maps/screenshots/de_bazaar.jpg')
	}

	&.--de_biome {
		background-image url('../img/maps/screenshots/de_biome.jpg')
	}

	&.--de_blackgold {
		background-image url('../img/maps/screenshots/de_blackgold.jpg')
	}

	&.--de_breach {
		background-image url('../img/maps/screenshots/de_breach.jpg')
	}

	&.--de_cache {
		background-image url('../img/maps/screenshots/de_cache.jpg')
	}

	&.--de_calavera {
		background-image url('../img/maps/screenshots/de_calavera.jpg')
	}

	&.--de_canals {
		background-image url('../img/maps/screenshots/de_canals.jpg')
	}

	&.--de_castle {
		background-image url('../img/maps/screenshots/de_castle.jpg')
	}

	&.--de_cbble {
		background-image url('../img/maps/screenshots/de_cbble.jpg')
	}

	&.--de_chlorine {
		background-image url('../img/maps/screenshots/de_chlorine.jpg')
	}

	&.--de_coast {
		background-image url('../img/maps/screenshots/de_coast.jpg')
	}

	&.--de_dust2 {
		background-image url('../img/maps/screenshots/de_dust2.jpg')
	}

	&.--de_dust {
		background-image url('../img/maps/screenshots/de_dust.jpg')
	}

	&.--de_elysion {
		background-image url('../img/maps/screenshots/de_elysion.jpg')
	}

	&.--de_empire {
		background-image url('../img/maps/screenshots/de_empire.jpg')
	}

	&.--de_engage {
		background-image url('../img/maps/screenshots/de_engage.jpg')
	}

	&.--de_extraction {
		background-image url('../img/maps/screenshots/de_extraction.jpg')
	}

	&.--de_facade {
		background-image url('../img/maps/screenshots/de_facade.jpg')
	}

	&.--de_favela {
		background-image url('../img/maps/screenshots/de_favela.jpg')
	}

	&.--de_grind {
		background-image url('../img/maps/screenshots/de_grind.jpg')
	}

	&.--de_guard {
		background-image url('../img/maps/screenshots/de_guard.jpg')
	}

	&.--de_inferno {
		background-image url('../img/maps/screenshots/de_inferno.jpg')
	}

	&.--de_lake {
		background-image url('../img/maps/screenshots/de_lake.jpg')
	}

	&.--de_library {
		background-image url('../img/maps/screenshots/de_library.jpg')
	}

	&.--de_lite {
		background-image url('../img/maps/screenshots/de_lite.jpg')
	}

	&.--de_marquis {
		background-image url('../img/maps/screenshots/de_marquis.jpg')
	}

	&.--de_mikla {
		background-image url('../img/maps/screenshots/de_mikla.jpg')
	}

	&.--de_mirage {
		background-image url('../img/maps/screenshots/de_mirage.jpg')
	}

	&.--de_mist {
		background-image url('../img/maps/screenshots/de_mist.jpg')
	}

	&.--de_mocha {
		background-image url('../img/maps/screenshots/de_mocha.jpg')
	}

	&.--de_mutiny {
		background-image url('../img/maps/screenshots/de_mutiny.jpg')
	}

	&.--de_nuke {
		background-image url('../img/maps/screenshots/de_nuke.jpg')
	}

	&.--de_overgrown {
		background-image url('../img/maps/screenshots/de_overgrown.jpg')
	}

	&.--de_overpass {
		background-image url('../img/maps/screenshots/de_overpass.jpg')
	}

	&.--de_pitstop {
		background-image url('../img/maps/screenshots/de_pitstop.jpg')
	}

	&.--de_ravine {
		background-image url('../img/maps/screenshots/de_ravine.jpg')
	}

	&.--de_royal {
		background-image url('../img/maps/screenshots/de_royal.jpg')
	}

	&.--de_ruby {
		background-image url('../img/maps/screenshots/de_ruby.jpg')
	}

	&.--de_safehouse {
		background-image url('../img/maps/screenshots/de_safehouse.jpg')
	}

	&.--de_santorini {
		background-image url('../img/maps/screenshots/de_santorini.jpg')
	}

	&.--de_seaside {
		background-image url('../img/maps/screenshots/de_seaside.jpg')
	}

	&.--de_season {
		background-image url('../img/maps/screenshots/de_season.jpg')
	}

	&.--de_shipped {
		background-image url('../img/maps/screenshots/de_shipped.jpg')
	}

	&.--de_shortdust {
		background-image url('../img/maps/screenshots/de_shortdust.jpg')
	}

	&.--de_shortnuke {
		background-image url('../img/maps/screenshots/de_shortnuke.jpg')
	}

	&.--de_stmarc {
		background-image url('../img/maps/screenshots/de_stmarc.jpg')
	}

	&.--de_studio {
		background-image url('../img/maps/screenshots/de_studio.jpg')
	}

	&.--de_subzero {
		background-image url('../img/maps/screenshots/de_subzero.jpg')
	}

	&.--de_sugarcane {
		background-image url('../img/maps/screenshots/de_sugarcane.jpg')
	}

	&.--de_swamp {
		background-image url('../img/maps/screenshots/de_swamp.jpg')
	}

	&.--de_thrill {
		background-image url('../img/maps/screenshots/de_thrill.jpg')
	}

	&.--de_train {
		background-image url('../img/maps/screenshots/de_train.jpg')
	}

	&.--de_tulip {
		background-image url('../img/maps/screenshots/de_tulip.jpg')
	}

	&.--de_vertigo {
		background-image url('../img/maps/screenshots/de_vertigo.jpg')
	}

	&.--de_zoo {
		background-image url('../img/maps/screenshots/de_zoo.jpg')
	}

	&.--dz_blacksite {
		background-image url('../img/maps/screenshots/dz_blacksite.jpg')
	}

	&.--dz_county {
		background-image url('../img/maps/screenshots/dz_county.jpg')
	}

	&.--dz_frostbite {
		background-image url('../img/maps/screenshots/dz_frostbite.jpg')
	}

	&.--dz_junglety {
		background-image url('../img/maps/screenshots/dz_junglety.jpg')
	}

	&.--dz_sirocco {
		background-image url('../img/maps/screenshots/dz_sirocco.jpg')
	}

	&.--gd_rialto {
		background-image url('../img/maps/screenshots/gd_rialto.jpg')
	}

	&.--lobby_mapveto {
		background-image url('../img/maps/screenshots/lobby_mapveto.jpg')
	}

	&.--training {
		background-image url('../img/maps/screenshots/training.jpg')
	}

	&.--x_default {
		background-image url('../img/maps/screenshots/random.jpg')
	}
}

a.map {
	box-shadow 0 0 .5rem rgba(#000, .25)
	text-decoration none

	&:active,
	&:hover {
		.inner {
			background rgba(#000, .55)
			text-shadow 0 0 .2rem rgba(#000, .75)
		}
	}

	.inner {
		transition background-color .3s ease, text-shadow .3s ease
	}
}
