.matches-list {
	display flex
	justify-content space-between

	margin 0 -2rem

	a.match {
		display block
		flex-grow 2
		flex-basis 0
		margin 2rem

		.score {
			span {
				display inline-block
				min-width 3ch
			}
		}
	}
}
