// Colors
$turquoise = #00f7e1
$red = #f44
$green = #0f0

// Team Colors
// from Watch Tab
// $terrorists = #eacf92
// $cts = #b6d4ec

// these colors are from some of the panorama icons
// $terrorists = #ca9a2d
$terrorists = #fcdc55
// $cts = #29b2e1
$cts = #46c8f3

// Fonts
$sans = 'Source Sans Pro', sans-serif

// Mixins
flsize($s, $m) {
	font-size $s
	line-height $s * $m
}
